.static-box{
    background-color: lightgreen;
    position: static;
    height:200px;
    width:200px;
}
.relative-box{
    background-color: lightpink;
    position: relative;
    left: 30px;
    top:20px;
    height:200px;
    width:200px;
}
.absolute-box{
    background-color: lightgray;
    position: absolute;
    top:10px;
    left:15px;
    height:200px;
    width:200px;  
}
.fixed-box{
    background-color: lightsalmon;
    position: fixed;
    height:200px;
    width:200px;
    bottom:10px;
    right:10px;  
}
.sticky-box{
    background-color: lightseagreen;
    position: sticky;
    top: 0px;
    height:200px;
    width:200px;
}
.background-image{
    background-image: url('dog.jpg');
    background-repeat: no-repeat;
    height:150px;
    width: 200px;
}
.background-image-repeat{
    background-image: url('dog.jpg');
    height:300px;
    width: 700px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}
.box1{
    background-color: lightgoldenrodyellow;
    height:200px;
    width:200px;
    z-index: 1;
}
.box2{
    background-color: lightgoldenrodyellow;
    height:200px;
    width:200px;
    z-index: 2;
}
.flex-container{
    display:flex;
    height: 400px;
    width: 500px;
    background-color: lightgreen;
    flex-direction:row;
}
.little{
    height: 60px;
    width: 50px;
    background-color: lightpink;
}