.static-box{
    background-color: lightgreen;
    position: static;
    height:200px;
    width:200px;
}
.relative-box{
    background-color: lightpink;
    position: relative;
    left: 30px;
    top:20px;
    height:200px;
    width:200px;
}
.absolute-box{
    background-color: lightgray;
    position: absolute;
    top:10px;
    left:15px;
    height:200px;
    width:200px;  
}
.fixed-box{
    background-color: lightsalmon;
    position: fixed;
    height:200px;
    width:200px;
    bottom:10px;
    right:10px;  
}
.sticky-box{
    background-color: lightseagreen;
    position: sticky;
    top: 0px;
    height:200px;
    width:200px;
}
.background-image{
    background-image: url('dog.jpg');
    background-repeat: no-repeat;
    height:150px;
    width: 200px;
}
.background-image-repeat{
    background-image: url('dog.jpg');
    height:300px;
    width: 700px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}
.box1{
    background-color: lightgoldenrodyellow;
    height:200px;
    width:200px;
    z-index: 1;
}
.box2{
    background-color: lightgoldenrodyellow;
    height:200px;
    width:200px;
    z-index: 2;
}
.flex-container{
    display:flex;
    height: 400px;
    width: 500px;
    background-color: lightgreen;
    flex-direction:row;
    border:solid black 2px;
}
.little{
    height: 60px;
    width: 50px;
    background-color: lightpink;
    border:solid black 2px;
}
.flex-container2{
    display:flex;
    height: 400px;
    width: 500px;
    background-color: lightgreen;
    flex-direction:column;
    border:solid black 2px;
}
.flex-container3{
    display:flex;
    height: 400px;
    width: 500px;
    background-color: lightgreen;
    justify-content: space-around;
    border:solid black 2px;
}
.flex-container4{
    display:flex;
    height: 400px;
    width: 500px;
    background-color: lightgreen;
    flex-wrap: wrap;
    border:solid black 2px;
}
.flex-container5{
    display:flex;
    height: 400px;
    width: 500px;
    background-color: lightgreen;
    align-items: center;
    border:solid black 2px;
}
.div1{
    background-color: green;
    height: 50px;
}
.div2{
    background-color: blue;
    height: 75px;
}
.div3{
    background-color: brown;
    height: 100px;
}